<a href="<%= new_user_property_url(@user) %>">Add new property</a>

<h3>Saved Properties</h3>
<ul>
<% @user.saved_properties.each do |property| %>
	<li>
		<h3><a href="<%= property_url(property) %>"><%= property.address.split(" ").map(&:capitalize).join(" ") %></a></h3>
		<ul>
			<li>Price: <%= number_to_currency(property.price, precision: 0) %></li>
			<li>Neighborhood: <%= property.neighborhood.split(" ").map(&:capitalize).join(" ") %></li>
		</ul>
	</li>
	
<% end %>
</ul>