<h2>Listings</h2>

<h3>Search terms</h3>
<ul>
	<% params["property"].each do |attribute, value| %>
		<% unless value == "" %>
			<li><b><%= attribute.capitalize %></b>: <%= value %></li>
		<% end %>
	<% end %>
</ul>

<hr>

<%= paginate @properties %>

<ul>
<% @properties.each do |property| %>
	<li>
		<h3><a href="<%= property_url(property) %>"><%= property.address.split(" ").map(&:capitalize).join(" ") %></a></h3>
		<ul>
			<li>Price: <%= number_to_currency(property.price, precision: 0) %></li>
			<li>Neighborhood: <%= property.neighborhood.split(" ").map(&:capitalize).join(" ") %></li>
		</ul>
	</li>
<% end %>
</ul>

<%= paginate @properties %>