<h2>List a new property</h2>

<form action="<%= user_properties_url(@user) %>" method="POST">
  <%= auth_token %>

  <label>
    Address (Required)
    <input type="text" name="property[address]" value="<%= @property.address %>">
  </label>
  <br>
  <label>
    Unit
    <input type="text" name="property[unit]" value="<%= @property.unit %>">
  </label>
  <br>
  <label>
    Zip (Required)
    <input type="text" name="property[zip]" value="<%= @property.zip %>">
  </label>
  <br>
  <label for="borough-select">Borough (Required)</label>
  <select name="property[borough]" id="borough-select">
    <option value="manhattan">Manhattan</option>
    <option value="brooklyn">Brooklyn</option>
		<option value="queens">Queens</option>
		<option value="bronx">The Bronx</option>
  </select>
  <br>
  <label for="neighborhood-select">Neighborhood (Required)</label>
  <select name="property[neighborhood]" id="neighborhood-select">
    <option value="">(Choose one)</option>
    <option value="Financial District">FINANCIAL DISTRICT</option>
    <option value="Battery Park City">BATTERY PARK CITY</option>
    <option value="Chinatown">CHINATOWN</option>
    <option value="Tribeca">TRIBECA</option>
    <option value="Lower East Side">LOWER EAST SIDE</option>
    <option value="East Village">EAST VILLAGE</option>
    <option value="Wesst Village">WEST VILLAGE/GREENWICH VILLAGE</option>
    <option value="Soho">SOHO</option>
    <option value="Noho/Nolita">NOHO/NOLITA</option>
    <option value="Chelsea">CHELSEA</option>
    <option value="Flatiron/Gramercy">FLATIRON/GRAMERCY</option>
    <option value="Murray Hill/Kips Bay">MURRAY HILL/KIPS BAY</option>
    <option value="Midtown East">MIDTOWN EAST</option>
    <option value="Midtown West/Hell's Kitchen">MIDTOWN WEST/HELL'S KITCHEN</option>
    <option value="Upper East Side">UPPER EAST SIDE</option>
    <option value="Upper West Side">UPPER WEST SIDE</option>
    <option value="Harlem">HARLEM</option>
    <option value="Washington Heights">WASHINGTON HEIGHTS</option>
    <option value="Inwood">INWOOD</option>
  </select>
  <br>
  <label>
    Price (Required)
    <input type="number" name="property[price]" value="<%= @property.price %>">
  </label>
  <br>
  <label>
    Beds
    <input type="number" name="property[beds]" value="<%= @property.beds %>">
  </label>
  <br>
  <label>
    Baths
    <input type="text" name="property[baths]" value="<%= @property.baths %>">
  </label>
  <br>
  <label>
    Baths
    <input type="text" name="property[baths]" value="<%= @property.baths %>">
  </label>
  <br>
  <label>
    Square Footage
    <input type="number" name="property[sq_ft]" value="<%= @property.sq_ft %>">
  </label>
  <br>
  <label for="apt-type-select">Apartment Type (Required)</label>
  <select name="property[apt_type]" id="apt-type-select">
    <option value="condo">Condo</option>
    <option value="co-op">Co-op</option>
		<option value="townhouse">Townhouse</option>
		<option value="multi-family">Multi-family</option>
  </select>
  <br>
  <button>Submit</button>
</form>