<h2><%= @property.address %> <%= @property.unit %></h2>
<h3><%= @property.neighborhood %></h3>

<ul>
<%@property.attributes.each do |attribute, value| %>
	<!-- non_detailed_attributes is in application_helper.rb -->
	<% unless non_detailed_attributes.include?(attribute) %>
		<li><%= attribute %>: <%= value %></li>
	<% end %>
<% end %>
</ul>
