<h2><%= @property.address.split(" ").map(&:capitalize).join(" ") %> <%= @property.unit %></h2>
<h3><%= @property.neighborhood.capitalize %></h3>
<% if signed_in? %>
	<%= render "save_form", property: @property %>
<% end %>
<img src="https://s3.amazonaws.com/img.streeteasy.com/nyc/image/95/74587695.jpg">
<br>
<ul>
<%@property.attributes.each do |attribute, value| %>
	<!-- non_detailed_attributes is in application_helper.rb -->
	<% unless non_detailed_attributes.include?(attribute) %>
		<% if value.class == String %>
			<li><%= attribute %>: <%= value.split(" ").map(&:capitalize).join(" ") %></li>
		<% elsif attribute == "price" %>
			<li><%= attribute %>: <%= number_to_currency(value, precision: 0) %></li>
		<% else %>
			<li><%= attribute %>: <%= value %></li>
		<% end %>
	<% end %>
<% end %>
</ul>
