<h2><%= @property.address %> <%= @property.unit %></h2>
<h3><%= @property.neighborhood %></h3>

<p><%= @property.type %> in <%= @property.neighborhood %></p>

<p><%= @property.beds %> | <%= @property.baths %> | <%= @property.sq_ft %></p>
