<h2><%= @property.address.split(" ").map(&:capitalize).join(" ") %> <%= @property.unit %></h2>
<h3><%= @property.neighborhood.capitalize %></h3>
<% if owner?(@property) %>
	<a href="<%= edit_property_url(@property) %>">Edit this listing</a>
<% end %>
<br>
<br>
<% if signed_in? %>
	<%= render "save_form", property: @property %>
<% end %>
<%= image_tag @property.property_photo.url(:big) %>
<br>
<ul>
<%@property.attributes.each do |attribute, value| %>
	<!-- non_detailed_attributes is in application_helper.rb -->
	<% unless non_detailed_attributes.include?(attribute) %>
		<% if value.class == String %>
			<li><%= attribute %>: <%= value.split(" ").map(&:capitalize).join(" ") %></li>
		<% elsif attribute == "price" %>
			<li><%= attribute %>: <%= number_to_currency(value, precision: 0) %></li>
		<% else %>
			<li><%= attribute %>: <%= value %></li>
		<% end %>
	<% end %>
<% end %>
</ul>
