<div class="search-filter">
	<h2 class="title"><b><%= count %></b> Properties Found</h2>
</div>
<div class="search-terms">
	<p>
	<% if(StreetEasyClone.searchQuery && StreetEasyClone.searchQuery.property.location.length > 0) { %>
		<b>Location:</b> "<%= StreetEasyClone.searchQuery.property.location %>"
	<% } %>
	<% if(StreetEasyClone.searchQuery && StreetEasyClone.searchQuery.property.apt_type.length > 0) { %>
		<b>Type:</b> "<%= StreetEasyClone.searchQuery.property.apt_type %>"
	<% } %>
	<% if(StreetEasyClone.searchQuery && StreetEasyClone.searchQuery.property.beds.length > 0) { %>
		<b>Bedrooms:</b> "<%= StreetEasyClone.searchQuery.property.beds %>"
	<% } %>
	<% if(StreetEasyClone.searchQuery && StreetEasyClone.searchQuery.property.baths.length > 0) { %>
		<b>Bathrooms:</b> "<%= StreetEasyClone.searchQuery.property.baths %>"
	<% } %>
	<% if(StreetEasyClone.searchQuery && StreetEasyClone.searchQuery.property.min_price.length > 0) { %>
		<b>Min Price:</b> "<%= StreetEasyClone.searchQuery.property.min_price %>"
	<% } %>
	<% if(StreetEasyClone.searchQuery && StreetEasyClone.searchQuery.property.max_price.length > 0) { %>
		<b>Max Price:</b> "<%= StreetEasyClone.searchQuery.property.max_price %>"
	<% } %>
	</p>
</div>
<ul class="view-switch-container group">
	<li>
	  <button class="view-switch active">LIST</button>
	</li>
	<li>
	  <button class="view-switch">MAP</button>
	</li>
	<li class="sort-form-container">
		<form class="sort-form">Sort By:
			<select class="sort-select" name="sort-criterion">
				<option val="price_largest" <% if(sortCriterion === "price_largest") { %> Selected <% }; %>>Most Expensive</option>
				<option val="price_smallest" <% if(sortCriterion === "price_smallest") { %> Selected <% }; %>>Least Expensive</option>
				<option val="sq_ft_largest" <% if(sortCriterion === "sq_ft_largest") { %> Selected <% }; %>>Largest</option>
				<option val="sq_ft_smallest" <% if(sortCriterion === "sq_ft_smallest") { %> Selected <% }; %>>Smallest</option>
				<option val="beds_largest" <% if(sortCriterion === "beds_largest") { %> Selected <% }; %>>Most Bedrooms</option>
				<option val="beds_smallest" <% if(sortCriterion === "beds_smallest") { %> Selected <% }; %>>Least Bedrooms</option>
			</select>
			<button class="sort-button"></button>
		</form>
	</li>
</ul>
<div class="view-container">

</div>


<script>
	$(document).ready(function() {
		$("select").on("change", function(event) {
			$(".sort-button").click();
		});
	});
</script>
