<h2 class="listing-text"><%= property.escape("address") %> <%= property.escape("unit") %></h2>
<h3 class="listing-text"><%= property.escape("neighborhood") %></h3>
<% if (parseInt(property.escape("owner_id")) === StreetEasyClone.currentUser) {%>
	<a href="#/property/edit/<%= property.escape('id') %>">Edit this listing</a>
<% } %>
<br>
	<% if(StreetEasyClone.currentUser) { %>
		<% if (property.escape("following_users").indexOf(StreetEasyClone.currentUser) === -1) { %>
			<button class="save-button"><span></span></button>
		<% } else {%>
			<button class="already-saved-button" disabled><span></span></button>
		<% } %>
	<% } %>
	<img src="<%= property.escape("property_photo_url") %>">
	<div>
	<% property.album_photos().each(function(album_photo) { %>
		<img src="<%= album_photo.escape('photo_url') %>">
	<% }); %>
	</div>
<br>
<ul>
<% for(var key in property.attributes) { %>
	<% if(StreetEasyClone.detailed_attributes.indexOf(key) != -1) { %>
		<li class="listing-text"><%= key %>: <%= property.escape(key) %></li>
	<% } %>
<% } %>
</ul>

<div class="comments-container">
	<div class="new-comment-container">
	</div>
	<div class="comments-list-container">
	</div>
</div>