<div id="map" class="map-view"></div>
<ul class="properties-list" style="display:none">
<% properties.each( function(property) { %>
	<li style="display:none"
			data-lat="<%= property.escape('latitude') %>" 
			data-lng="<%= property.escape('longitude') %>"
			data-address="<%= property.escape('address')%>"
			data-unit="<%= property.escape('unit') %>"
			data-price="<%= property.escape('price_text') %>"
			data-photo="<%= property.escape('property_photo_url') %>"
			data-link="#/property/<%= property.escape("id") %>">
	</li>
<% }); %>
</ul>

<script>

L.mapbox.accessToken = 'pk.eyJ1Ijoic2FpdG95ZXVuZyIsImEiOiJPOXA3aUowIn0.spWqAgo8-BgTGtYiLbOztg';
var map = L.mapbox.map('map', 'saitoyeung.jbj6oj44');
var geocoder = L.mapbox.geocoder('mapbox.places-v1');
var defaultLat = 40.747056;
var defaultLng = -73.892992;

map.setView([defaultLat, defaultLng], 11);

$(document).ready( function() {

	
	$(".properties-list").children().each(function() {
		var lat = $(this).attr("data-lat");
		var lng = $(this).attr("data-lng");
		var address = $(this).attr("data-address");
		var unit = $(this).attr("data-unit");
		var price = $(this).attr("data-price");
		var link = $(this).attr("data-link");
		var photo = $(this).attr("data-photo");
		if(lat && lng) {
			var popupContent = "<ul><li class='map-image-container'><img src='" + 
														photo + "'></li><li><h3><a href='" + link + "'>" + address + " " +
														unit + "</a></h3><ul><li><h3>" + price + "</h3></li></ul></li></ul>";
			var marker = L.marker([lat, lng]).bindPopup(popupContent).addTo(map);
		}
	});
	
});
</script>