<div class="save-button-row group">
	<ul class="save-button-list group">
	<% if(StreetEasyClone.currentUser) { %>
		<% if (parseInt(property.escape("owner_id")) === StreetEasyClone.currentUser) {%>
			<li><a href="#/property/edit/<%= property.escape('id') %>" class="edit-button">Edit this listing</a><li>
		<% } %>
		
		<% if (property.escape("following_users").indexOf(StreetEasyClone.currentUser) !== -1) { %>
			<li><button class="save-button" disabled><span></span></button></li>
		<% } else { %>
			<li><button class="save-button"><span></span></button></li>
		<% } %>
	<% } %>
	
	</ul>
</div>

<div class="show-content group">
	<div class="left-side-show">
		<div class="photos-container">
		</div>
		<div class="description-container">
			<h4>DESCRIPTION</h4>
			<p><%= property.escape("description") %></p>
		</div>
		<div class="comments-container">
			<div class="comments-list-container">
			</div>
		</div>
	</div>

	<div class="right-side-show">
		<h2><%= property.escape("address") %> <%= property.escape("unit") %></h2>
		<h3 class="totalSum"><%= property.escape("price_text") %></h3>
		<ul class="group">
			<% for(var i = 0; i < StreetEasyClone.stat_attributes.length; i++) { %>
				<% if (property.escape(StreetEasyClone.stat_attributes[i]).length > 0) { %>
					<li><p><%= property.escape(StreetEasyClone.stat_attributes[i]) %> <%= StreetEasyClone.stat_attributes[i] %></p></li>
				<% } %>
			<% } %>
		</ul>
		<div class="type-and-location-container">
			<p><%= property.escape("apt_type") %> in <%= property.escape("neighborhood") %>, <%= property.escape("borough") %></p>
		</div>
		<div class="show-map-container">
			<div id="map"></div>
		</div>
		
		<div class="subway-stations-container">
			<h4>TRANSPORTATION</h4>
			<% if (property.subway_stations) {%>
				<% for (var key in property.subway_stations) { %>
					<p class="subway-station">
					<% property.subway_stations[key].forEach( function(line) { %>
						<span class='mta-bullet mta-<%= line[0].toLowerCase() %>'><%= line[0] %></span>
					<% }); %>
					at <%= key %> <strong><%= property.subway_stations[key][0][1].toFixed(2) %> miles</strong></p>
				<% } %>
			<% } else { %>
				<p>No information available</p>
			<% } %>
		</div>

	</div>
</div>




<script>
	L.mapbox.accessToken = 'pk.eyJ1Ijoic2FpdG95ZXVuZyIsImEiOiJPOXA3aUowIn0.spWqAgo8-BgTGtYiLbOztg';
	var map = L.mapbox.map('map', 'saitoyeung.jbj6oj44');
	var geocoder = L.mapbox.geocoder('mapbox.places-v1');
	var defaultLat = 40.714728;
	var defaultLng = -73.998672;

	<% if (property.escape("latitude") && property.escape("longitude")) { %>
		var propertyLatitude  = <%= property.escape("latitude") %>;
		var propertyLongitude = <%= property.escape("longitude") %>;
	<% } else { %>
		var propertyLatitude  = false;
		var propertyLongitude = false;
	<% }%>
	
	if( propertyLatitude && propertyLongitude) {
		map.setView([propertyLatitude, propertyLongitude], 15);
		L.marker([propertyLatitude, propertyLongitude]).addTo(map);
	}
	else {
		map.setView([defaultLat, defaultLng], 11);
	}

</script>