<h2>Add New Property</h2>

<form class="new-property-form">
	<div class="form-main">
		<label>Main Photo</label>
		<div id="main-photo-container">
			<img src="/images/missing_big.png" id="main-photo-default">
		</div>
		<input type="file" name="property_photo" id="main-photo-upload">
	<ul class="group">
		<li class="form-element">
  		<label>Address (Required)</label>
    	<input type="text" name="address" class="big-input">
		</li>
		<li class="form-element">
		  <label>Unit</label>
	    <input type="text" name="unit" class="small-input">
		</li>
		<li class="form-element">
		  <label>Zip (Required)</label>
		  <input type="text" name="zip" class="small-input">
		</li>
		<li class="form-element">
		  <label for="borough-select">Borough (Required)</label>
		  <select name="borough" id="borough-select" class="small-input">
				<option value="">(Choose one)</option>
				<% for(var key in StreetEasyClone.boroughs) { %>
					<option value="<%= key %>">
						<%= StreetEasyClone.boroughs[key] %>
					</option>
				<% } %>
		  </select>
		</li>
		<li class="form-element">
		  <label for="neighborhood-select">Neighborhood</label>
		  <select name="neighborhood" id="neighborhood-select" class="small-input">
		    <option value="">(Choose one)</option>
				<% for(var i = 0; i < StreetEasyClone.neighborhoods.length; i++) { %>
					<option value="<%= StreetEasyClone.neighborhoods[i] %>">
						<%= StreetEasyClone.neighborhoods[i] %>
					</option>
				<% } %>
		  </select>
		</li>
		<li class="form-element">
		  <label>Price (Required)</label>
		    <input type="number" name="price" class="small-input">
		 </li>
		 <li class="form-element">
		  <label>Beds</label>
		    <input type="number" name="beds" class="small-input">
		 </li>
		 <li class="form-element">
		  <label>Baths</label>
		    <input type="text" name="baths" class="small-input">
		 </li>
		 <li class="form-element">
		  <label>Square Footage</label>
		    <input type="number" name="sq_ft" class="small-input">
		</li>
<li class="form-element">
  <label for="apt-type-select">Apartment Type (Required)</label>
  <select name="apt_type" id="apt-type-select" class="small-input">
		<option value="">(Choose one)</option>
		<% for(var i = 0; i < StreetEasyClone.apt_types.length; i++) { %>
			<option value="<%= StreetEasyClone.apt_types[i] %>">
				<%= StreetEasyClone.apt_types[i] %>
			</option>
		<% } %>
  </select>
</li>
</ul>
<button class="add-more-photos-button">Add More Photos</button>
<button class="add-property-button">Save Property</button>
</div>
</form>

<div class="additional-photos-container">
</div>

<script>
$(".new-property-form").on("submit", function(event) {
	event.preventDefault();
});	
</script>

