
	<ul class="group">
		<li class="listing-component">
			<img src="<%= property.escape("property_photo_url") %>">
		</li>
		<li class="listing-component">
			<h3 class="listing-text"><a href="<%= "#/property/" + property.escape("id") %>"><%= property.escape("address") %> <%= property.escape("unit") %></a></h3>
			<% if(StreetEasyClone.currentUser) { %>
				<% if (property.escape("following_users").indexOf(StreetEasyClone.currentUser) === -1) { %>
					<button class="save-button"><span></span></button>
				<% } else {%>
					<button class="already-saved-button" disabled><span></span></button>
				<% } %>
			<% } %>
			<ul>
				<li>Price: <%= property.escape("price") %></li>
				<li class="listing-text">Borough: <%= property.escape("borough") %></li>
				<li class="listing-text">Neighborhood: <%= property.escape("neighborhood") %></li>
				<li class-"listing-text"><%= property.escape("sq_ft") %> sq. ft.</li>
				<li class-"listing-text"><%= property.escape("beds") %> bd(s)</li>
			</ul>
		</li>
	</ul>
