<div class="property-container group">
	<div class="page-link-container">
		<% if(!savedPage) { %>
			<% if(currentPage > 1) { %>
				<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= currentPage - 1 %>" class="property-page-link">◄</a>
			<% } %>
	
			<% var ellipsisLeft = false; var ellipsisRight = false; %>

			<% for(var i = 0; i < Math.ceil(count/12); i++) { %>
				<% if ((i + 1) === currentPage) { %>
					<a href="#" class="property-page-link disabled-link"><%= i + 1 %></a>
				<% } else if ((i + 1) === 1){ %>
					<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
				<% } else if ((i + 1) === Math.ceil(count/12)){ %>
					<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
				<% } else if ((i + 1) >= currentPage - 2 && (i + 1) <= currentPage + 2){ %>
					<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
				<% } else if ((i + 1) < currentPage && !ellipsisLeft){ %>
					<a href="#" class="disabled-link ellipsis">···</a>
					<% ellipsisLeft = true; %>
				<% } else if ((i + 1) > currentPage && !ellipsisRight){ %>
					<a href="#" class="disabled-link ellipsis">···</a>
					<% ellipsisRight = true; %>
				<% } %>
			<% } %>
	
			<% if(currentPage < Math.ceil(count/12)) { %>
				<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= currentPage + 1 %>" class="property-page-link">►</a>
			<% } %>
		<% } %>
	</div>
	<div class="property-list-container">
		<ul class="property-list">
	
		</ul>
		<div class="page-link-container">
			<% if(!savedPage) { %>
				<% if(currentPage > 1) { %>
					<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= currentPage - 1 %>" class="property-page-link">◄</a>
				<% } %>
	
				<% var ellipsisLeft = false; var ellipsisRight = false; %>

				<% for(var i = 0; i < Math.ceil(count/12); i++) { %>
					<% if ((i + 1) === currentPage) { %>
						<a href="#" class="property-page-link disabled-link"><%= i + 1 %></a>
					<% } else if ((i + 1) === 1){ %>
						<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
					<% } else if ((i + 1) === Math.ceil(count/12)){ %>
						<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
					<% } else if ((i + 1) >= currentPage - 2 && (i + 1) <= currentPage + 2){ %>
						<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
					<% } else if ((i + 1) < currentPage && !ellipsisLeft){ %>
						<a href="#" class="disabled-link ellipsis">···</a>
						<% ellipsisLeft = true; %>
					<% } else if ((i + 1) > currentPage && !ellipsisRight){ %>
						<a href="#" class="disabled-link ellipsis">···</a>
						<% ellipsisRight = true; %>
					<% } %>
				<% } %>
	
				<% if(currentPage < Math.ceil(count/12)) { %>
					<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= currentPage + 1 %>" class="property-page-link">►</a>
				<% } %>
			<% } %>
		</div>
	</div>

	<div class="map-sidebar-container">
		<div id="sidebar-map" class="map-scrolling"></div>
	</div>
</div>

<script>

L.mapbox.accessToken = 'pk.eyJ1Ijoic2FpdG95ZXVuZyIsImEiOiJPOXA3aUowIn0.spWqAgo8-BgTGtYiLbOztg';
var map = L.mapbox.map('sidebar-map', 'saitoyeung.jbj6oj44');
var geocoder = L.mapbox.geocoder('mapbox.places-v1');
var defaultLat = 40.714728;
var defaultLng = -73.998672;

$("a.leaflet-control-zoom-in").append($("<p class='zoom-in'>+</p>"));
$("a.leaflet-control-zoom-out").append($("<p class='zoom-out'>-</p>"));

map.setView([defaultLat, defaultLng], 11);

var address, borough, queryString, queryResult, lat, lng;
	$(document).ready( function() {
		$(".disabled-link").on("click", function(event) {
			event.preventDefault();
		});
		
		$(".main").off().on("mouseenter", "li.property-listing", function(event) {
			lat = $(event.currentTarget).attr("data-lat");
			lng = $(event.currentTarget).attr("data-lng");
		
			if(lat && lng) {
				if($(event.currentTarget).hasClass("visited")) {
					map.setView([lat, lng], 15);
				}
				else {
					$(event.currentTarget).toggleClass("visited");
					L.marker([lat, lng]).addTo(map);
					map.setView([lat, lng], 15);
				}
			}
			else {
				map.setView([defaultLat, defaultLng], 12);
			}
		});
		
		$(document).on("scroll", function(event) {			
			if($(document).scrollTop() >= 226) {
				if(!$(".map-scrolling").hasClass("locked")) {
					$(".map-scrolling").addClass("locked");
				}
			}
			else {
				if($(".map-scrolling").hasClass("locked")) {
					$(".map-scrolling").removeClass("locked");
				}
			}
		});
	});
	
</script>