<h2 class="title first-page">New York City Real Estate</h2>

<img src="<%= StreetEasyClone.bannerAssetPath %>" alt="New York Empire" class="banner-image">
<div class="silhouette"></div>

<form class="search-form">
	<div class="form-main">
		<ul class="group">
			<li class="form-element">
			  <label for="search-address">LOCATION</label>
			  <input type="text" name="property[location]" list="choices" value="" class="big-input" id="search-address" placeholder="Borough / Neighborhood / Address">
				<datalist id="choices">
					<% StreetEasyClone.boroughs.forEach(function(borough) { %>
						<option value="<%= borough %>">
					<% }); %>
					<% StreetEasyClone.neighborhoods.forEach(function(neighborhood) { %>
						<option value="<%= neighborhood %>">
					<% }); %>
					<% StreetEasyClone.addresses.forEach(function(address) { %>
						<option value="<%= address %>">
					<% }); %>
				</datalist>
			</li>
			<li class="form-element">
				<label for="search-apt-type">TYPE</label>
			  <select name="property[apt_type]" id="search-apt-type" class="small-input">
					<option value="">Any Type</option>
					<% StreetEasyClone.apt_types.forEach(function(apt_type){ %>
						<option value="<%= apt_type.toLowerCase() %>">
							<p><%= apt_type.charAt(0).toUpperCase() + apt_type.slice(1) %></p>
						</option>
					<% });%>
				</select>
			</li>
			<li class="form-element">
			  <label for="search-min-price">MIN PRICE</label>
				<select name="property[min_price]" id="search-min-price" class="small-input">
					<option value="">Any</option>
					<% for(var i = 0; i <= 10000000; i+=100000) { %>
						<option value="<%= i %>"><%= StreetEasyClone.convertNumToCurrency(i) %></option>
					<% } %>
				</select>
			</li>
			<li class="form-element">
			  <label for="search-max-price">MAX PRICE</label>
				<select name="property[max_price]" id="search-max-price" class="small-input">
					<option value="">Any</option>
					<% for(var i = 0; i <= 10000000; i+=100000) { %>
						<option value="<%= i %>"><%= StreetEasyClone.convertNumToCurrency(i) %></option>
					<% } %>
				</select>
			</li>
			<li class="form-element">
			  <label for="search-beds">BEDROOMS</label>
				<select name="property[beds]" id="search-bed-type" class="small-input">
					<option value="">Any</option>
					<% StreetEasyClone.bed_types.forEach(function(bed_type){ %>
						<% if(bed_type === "0") { %>
							<option value="<%= bed_type %>">
								Studio
							</option>
						<% } else { %>
						<option value="<%= bed_type %>">
							<%= bed_type %> bedrooms
						</option>
						<% } %>
					<% });%>
				</select>
			</li>
			<li class="form-element">
			  <label for="search-baths">BATHROOMS</label>
				<select name="property[baths]" id="search-bath-type" class="small-input">
					<option value="">Any</option>
					<% StreetEasyClone.bath_types.forEach(function(bath_type){ %>
						<option value="<%= bath_type %>">
							<%= bath_type %> or more
						</option>
					<% });%>
				</select>
			</li>
			<li class="form-element">
				<button class="search-button">SEARCH</button>
			</li>
		</ul>
	</div>
</form>