<!DOCTYPE html>
<html>
<head>
  <title>StreetEasyClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

</head>
<body>
<header class="nav">
	<div class="nav-logo">
		<ul class="group">
			<li>
				<a href="<%= root_url %>" class="logo-link"><h1>STREETEASY CLONE</h1></a>
			</li>
		</ul>
	</div>
<% if !signed_in? %>
	<div class="nav-settings">
		<ul class=" group">
			<li>
				<a href="<%= new_session_url %>" class="settings-link">SIGN IN</a>
			</li>
			<li>
			  <a href="<%= new_user_url %>" class="register-link">REGISTER(IT'S FREE)</a> |
			</li>
		</ul>
	</div>
<% else %>
	<div class="nav-settings">
		<ul class="group">
			<li>
			  <a href="<%= user_url(current_user) %>" class="settings-link"><%= current_user.email %></a>
			</li>
			<li>
				<%= link_to "Sign out", session_url, method: :delete %>
			</li>
		</ul>
	</div>
<% end %>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
</header>
<div class="main">
	<%= yield %>
</div>


</body>
</html>
