<!DOCTYPE html>
<html>
<head>
  <title>StreetEasyClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !signed_in? %>
  <a href="<%= new_user_url %>">Sign Up</a> |
  <a href="<%= new_session_url %>">Sign In</a>
<% else %>
  Welcome <a href="<%= user_url(current_user) %>"><%= current_user.email %></a> | Not you? <%= button_to "Sign out", session_url, method: :delete %>
<% end %>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
