<!DOCTYPE html>
<html>
<head>
  <title>StreetEasyClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
	<style>
		body { margin:0; padding:0; }
	</style>
</head>
<body>
<header>
<a href="<%= root_url %>"><h1>StreetEasy Clone</h1></a>
<% if !signed_in? %>
  <a href="<%= new_user_url %>">Sign Up</a> |
  <a href="<%= new_session_url %>">Sign In</a>
<% else %>
  Welcome <a href="<%= user_url(current_user) %>"><%= current_user.email %></a> | Not you? <%= button_to "Sign out", session_url, method: :delete %>
<% end %>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
</header>
<hr>
<div class="main">
	<%= yield %>
</div>


</body>
</html>
